body{
    background-color: #7E837D;
    font-family: gagalin;
    color: #fff;
}

/*--------------------
        Navbar
 -------------------*/

/*----------------------
        HOME
 ----------------------*/

h1{
    font-size: 80px;
}

.laberinto{
    background-image: url("../assets/img/laberinto.png");
    background-size: cover;
    height: 600px;
}

.body-asombro{
    background-color: #E1C571;
}
.asombro{
    background-image: url("../assets/img/asombro.jpg");
    background-size: cover;
    height: 600px;
}

.body-autoconciencia{
    background-color: #72543A;
}
.autoconciencia{
    background-image: url("../assets/img/autoconciencia.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
}

.body-empatia{
    background-color: #8E877F;
}
.empatia{
    background-image: url("../assets/img/empatia.png");
    background-size: cover;
    height: 600px;
}

.body-miradas{
    background-color: #7E837D;
}

.body-palabra{
    background-color: #EFE4D2;
    color: darkslategray;
}
.palabra{
    background-image: url("../assets/img/palabra.png");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.body-silencio{
    background-color: #CF9D86;
}
.silencio{
    background-image: url("../assets/img/silencio.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
}

.body-unidad{
    background-color: #816B53;
}
.unidad{
    background-image: url("../assets/img/unidad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
}

.body-vivir{
    background-color: #897D71;
}
.vivir{
    background-image: url("../assets/img/vivir.png");
    background-size: cover;
    background-position: right;
    height: 600px;
}

video{
    padding-top: 50px;
    width: 100%;
    height: auto;
}

@media (max-width: 992px) {
    .height-responsive{
        height:600px;
    }
    .height-responsive h1{
        font-size: 50px;
    }
    .body-autoconciencia h1{
        font-size: 30px;
    }
    .body-autoconciencia .height-responsive{
        height: 300px;
    }
    .autoconciencia{
        background-position:top;
        height: 200px;
    }
    .body-palabra .height-responsive{
        height: 400px;
    }
    .palabra{
        height: 400px;
    }
    .video-responsive{
        height: 300px;
    }
    .body-silencio .height-responsive{
        height: 200px;
    }
    .body-unidad .height-responsive{
        height: 300px;
    }
    .body-vivir .height-responsive{
        height: 400px;
    }
    .vivir{
        height: 300px;
        background-position: right;
    }
    .unidad{
        height: 500px;
        background-position: cover;
    }
}

/* iconos */
.bi::before{
    font-size: 30px;
}

span{
    display: flex;
}